/*
  Separate CSS files, or styled-components?
  For this small projects this little file is working just fine
*/
@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap");

$fontBody: "Open Sans", arial, sans-serif;
$fontHeader: "Dosis", arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: $fontBody;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: $fontHeader;
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1em;
}

ul.list {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1em;
}

// loader
.loading {
  margin: 40px auto;
  text-align: center;
  font-style: italic;

  span {
    margin-bottom: 1em;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
}

// header
.header {
  padding: 1em;
  background: #5db77d;
  color: white;
  margin-bottom: 1em;
  text-align: center;

  > div {
    font-style: italic;
  }
}

// nav
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2em;

  a {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
  }

  a,
  a:hover {
    text-decoration: none;
  }

  a:not(:last-child) {
    margin-right: 1em;
  }

  a.active {
    border-bottom: 2px solid currentColor;
  }
}

// item
.news-item {
  margin: 10px auto 40px;

  .title {
    font-weight: bold;
  }

  .title a:visited {
    color: #656565;
  }

  .link-out {
    color: #5cb77d;
  }

  .meta {
    padding-left: 10px;
    margin-top: 10px;
    color: grey;
  }

  .text {
    margin-top: 1em;
  }
}

// list
.news-list {
  padding: 10px;
}

.update {
  margin: 0 auto;
  display: block;
  font-style: italic;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

//detail
.item-detail {
  padding: 10px;

  .content {
    margin: 1em 0;
  }
}

// comment
.comment {
  background: #fff0d0;
  margin: 1em 0;
  padding: 1em;

  .meta {
    font-weight: bold;
    margin-bottom: 1em;
  }

  .text p {
    margin-bottom: 1em;
  }
}

// user
.user {
  margin-bottom: 2em;
}
